.contentDetail h2 {
    font-size: 1.1rem;
    font-weight: 600;
    margin-top: 1rem;
    margin-bottom: 1rem;
    color: #333;
    background-color: #f8f9fa;
    padding: 0.5rem .5rem;
}

.contentDetail p {
    font-size: 1rem;
    line-height: 1.8;
    margin-bottom: 1rem;
    color: #4a4a4a;
    text-align: justify;
    padding: 0 0.5rem;
    text-indent: 2em;
}

.contentDetail p:first-of-type {
    font-size: 1.1rem;
    color: #666;
    font-weight: 500;
    margin-bottom: 2rem;
} 